<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="{% static 'css/styl1.css' %}">
    <title>{% block title %}
    Заголовок
    {% endblock title %}</title>
</head>
<body>
<div>{% block menu %}
    <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <div class="container-fluid">
                    <a class="navbar-brand text-primary fs-3 fst-italic fw-bold" href="{%  url 'choko' id=0 %}">Snickers</a>
                    <a class="navbar-brand text-danger fs-3 fst-italic fw-bold" href="{%  url 'choko' id=1 %}">Mars</a>
                    <a class="navbar-brand text-warning fs-3 fst-italic fw-bold" href="{%  url 'choko' id=2 %}">Nuts</a>
                    <a class="navbar-brand text-white fs-3 fst-italic fw-bold" href="{%  url 'choko' id=3 %}">РОССИЯ</a>
        </div>
    </nav>
{% endblock menu %}</div>
<div class="f">{% block content %}
    <h2>ШОКОЛАД</h2>
    <h5>Индейцы называли словом «шоколатль» горький напиток, в состав которого, кроме какао, входил перец.
        Сейчас горький шоколад с перцем — скорее экзотика. Все-таки нам привычнее считать шоколад сладостью.<br>
    Качественный шоколад без добавок содержит:
        фенилэтиламин — гормон, который насыщает мозг серотонином и помогает в работе нервных клеток;
        теобромин и магний — расслабляют нервные окончания, снимают стресс, улучшают эмоционально-психическое состояние;
        растительные флавоноиды — стимулируют кровоток, питание мозга, насыщают нейроны кислородом;
        антиоксиданты — выводят свободные радикалы, препятствуют разрушению нейронов и замедляют процессы старения.
        В горьком шоколаде содержится целый комплекс витаминов и минералов: А, В, D, Е, F, РР, калий, магний, фосфор, кальций,
        цинк, железо. Мышечные и нервные клетки нашего организма содержат лецитин, который быстро расходуется при физических и
        эмоциональных нагрузках. Лецитин снимает раздражительность и быструю утомляемость.
        В молочном шоколаде присутствуют быстрые углеводы, которые кратковременно улучшают когнитивные функции и интеллектуальную активность.
        Темный шоколад, состоящий из 70-85% какао, в 100 г содержит 590 ккал, жиры — 42,63 г, белки — 7,79 г, углеводы — 45,90 г,
        воду — 1,37 г, золу — 2,32 г.<br>
    Нужно оговориться, что пользу может принести горький и темный шоколад. Но и то при условии, что в сутки его будет съедено не больше
        50 г. В этом случае шоколад будет не только лакомством, но и своеобразным «лекарством».
        <br>Вещества, входящие в состав шоколада:
        <br>поддерживают нервную систему (в том числе благодаря эндорфинам, которые имеют легкий обезболивающий эффект); <br>за счет своих
        антисептических свойств помогают предупредить кариес — на поверхности зубов образуется барьер, защищающий эмаль; <br>препятствуют
        развитию язвы желудка; <br>по данным ряда исследований, снижают риск сердечно-сосудистых заболеваний на 20%.
        <br>В темном и горьком шоколаде содержатся флавоноиды. Это растительные химические вещества, которые действуют как антиоксиданты, то есть
        препятствуют окислению и старению клеток.
        <br>Флавоноиды, содержащиеся в темном шоколаде, поддерживают здоровье сердца.
        <br>Фосфор, калий, магний, фтор и железо, содержащиеся в шоколаде, помогают бороться с анемией, стимулируют мозговую деятельность.
        <br>Темный шоколад служит концентрированным источником полифенолов.
        Их роль — защита от ультрафиолетового излучения, кроме того, это естественные антиоксиданты.

    </h5>
{% endblock content %}</div>
<footer>
    </div>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <div class="container-fluid">
      <a class="navbar-brand text-decoration-line: overline" href="https://www.snickers.com/">производитель СНИКЕРС</a>
      <a class="navbar-brand" href="https://www.mars.com/">производитель МАРС</a>
      <a class="navbar-brand" href=https://www.nestle.md/ru/nashi-marki/sladosti/nuts>производитель НАТС</a>
      <a class="navbar-brand" href=https://web.archive.org/web/20130904141815/http://www.nestle.ru/jobs/factories-and-offices/filial_samara>производитель РОССИЯ</a>
  </div>
</nav>
</div>
</footer>
</body>
</html>